<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Forgot Password | Shopping with Deals</title>
<link href="../../../public/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../public/css/font-awesome.min.css">

 
</head>

<body>
<div class="loginlogo">
 <a href="/App/index"><img src="../../../public/img/logo.png" /></a>
</div>
<div class="container">
<div class="subcontainer padtb">
{{if .errors}}Please fix errors marked below!{{end}}

<div class="hdd">Forgot Password?</div>
<form method="post" action="/Login/DoLogin">
<div class="contc">
    

<p class="{{if .errors.fname}}error{{end}}">
<p class="msg">Enter your Email id</p>
<div class="item">
<input name="email" type="email" class="txtbx" value="{{.flash.email}}" required>
</div>
<span class="error">{{.errors.email.Message}}</span>
</p>
<br />
<div class="item2">
<input name="btnok" type="submit" value="SUBMIT" class="btnokc">
</div>
</div>
</form>

</div>
</div>

</body>
</html>