<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Deal</title>
<link href="../../../public/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../public/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../../public/css/slick.css">
  <link rel="stylesheet" type="text/css" href="../../../public/css/slick-theme.css">


<body>
{{template "header.html" .}}
<h1>{{.msg}}</h1>
{{template "footer.html" .}}

</body>


</html>